* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightblue;
}

.grid { 
    width: 140vh;
    height: 80vh;
    background: #fff;
    margin: 0px;

    /* Center on the div*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px #0000004d;
    overflow: hidden;
    
    /* Grid display */
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(36, 1fr);
}

.box
{
    user-select: none;
    border: 1px solid #000000;
    font-family: Helvetica;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wall {background-color: black;}
.box:hover {background-color: yellow;}

.starter {background-color: red;}
.final {background-color: blue;}