* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightblue;
}

.grid {
    width: 100%;
    margin: 0px;

    /* Center on the div*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    
    /* Grid display */
    display: grid;
}

.row {
    height: 2.5vh;
}

.box
{
    display: inline-block;
    user-select: none;

    height: 100%;
    width: 2.5vh;
    border: 1px solid #444;
    background-color: #fff;
}

.wall {
    background-color: #444;
}

.starter {background-color: red;}
.final {background-color: blue;}
